In [32]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [33]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Padang,ID,2021-09-26 14:23:22,-0.9492,100.3543,77.05,95,100,2.42
1,1,Port Blair,IN,2021-09-26 14:23:22,11.6667,92.7500,78.82,89,100,14.03
2,2,Atar,MR,2021-09-26 14:23:23,20.5169,-13.0499,105.53,10,11,9.22
3,3,Avarua,CK,2021-09-26 14:23:23,-21.2078,-159.7750,69.85,94,75,2.30
4,4,Rayong,TH,2021-09-26 14:23:23,12.8333,101.4333,80.15,99,100,0.83

In [34]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [35]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [36]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [38]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig1.add_layer(heat_layer)
# Call the figure to plot the data.
fig1

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig2.add_layer(heat_layer)
# Call the figure to plot the data.
fig2

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig3 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig3.add_layer(heat_layer)
# Call the figure to plot the data.
fig3

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig4 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig4.add_layer(heat_layer)
# Call the figure to plot the data.
fig4

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Padang,ID,2021-09-26 14:23:22,-0.9492,100.3543,77.05,95,100,2.42
1,1,Port Blair,IN,2021-09-26 14:23:22,11.6667,92.7500,78.82,89,100,14.03
4,4,Rayong,TH,2021-09-26 14:23:23,12.8333,101.4333,80.15,99,100,0.83
5,5,San Patricio,US,2021-09-26 14:23:24,28.0170,-97.5169,79.88,60,7,5.23
9,9,Malanje,AO,2021-09-26 14:23:25,-9.5402,16.3410,88.39,27,79,6.38
14,14,Ishigaki,JP,2021-09-26 14:23:26,24.3448,124.1572,83.77,77,3,14.63
15,15,Gandorhun,SL,2021-09-26 14:23:27,7.5000,-11.8333,81.37,84,100,4.72
20,20,Castro,BR,2021-09-26 14:23:29,-24.7911,-50.0119,80.26,42,0,4.76
22,22,Kununurra,AU,2021-09-26 14:23:30,-15.7667,128.7333,75.18,64,100,3.44
31,31,Nishihara,JP,2021-09-26 14:23:33,26.1842,127.7558,83.48,85,75,8.05

In [44]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [45]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [46]:
preferred_cities_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [47]:
# Heatmap of temperature
# Get the latitude and longitude.
locations2 = preferred_cities_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp2 = preferred_cities_df["Max Temp"]
# Assign the figure variable.
fig5 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations2, weights=[max(temp, 0) for temp in max_temp2], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig5.add_layer(heat_layer)
# Call the figure to plot the data.
fig5

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Padang      ID     77.05  -0.9492  100.3543
1     Port Blair      IN     78.82  11.6667   92.7500
4         Rayong      TH     80.15  12.8333  101.4333
5   San Patricio      US     79.88  28.0170  -97.5169
9        Malanje      AO     88.39  -9.5402   16.3410
14      Ishigaki      JP     83.77  24.3448  124.1572
15     Gandorhun      SL     81.37   7.5000  -11.8333
20        Castro      BR     80.26 -24.7911  -50.0119
22     Kununurra      AU     75.18 -15.7667  128.7333
31     Nishihara      JP     83.48  26.1842  127.7558

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 50000,
    "type": "lodging",
    "key": g_key
}

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found in {hotel_df.loc[index, 'City']}, {hotel_df.loc[index, 'Country']}... skipping.")

Hotel not found in Obo, CF... skipping.
Hotel not found in Simbahan, PH... skipping.
Hotel not found in Kabalo, CD... skipping.
Hotel not found in Sembe, CG... skipping.

In [52]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Padang,ID,77.05,-0.9492,100.3543,Mercure Padang
1,Port Blair,IN,78.82,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
4,Rayong,TH,80.15,12.8333,101.4333,Rayong Resort Hotel
5,San Patricio,US,79.88,28.0170,-97.5169,"Holiday Inn Corpus Christi Downtown Marina, an..."
9,Malanje,AO,88.39,-9.5402,16.3410,Malanje Hotel
...,...,...,...,...,...,...
541,Meiktila,MM,81.01,20.8667,95.8667,The Floral Breeze Wunzin Hotel
542,Makakilo City,US,77.32,21.3469,-158.0858,Best Western The Plaza Hotel
543,Conselheiro Pena,BR,85.59,-19.1722,-41.4722,Pousada Bixu de Pé
544,Bayonet Point,US,85.03,28.3267,-82.6834,Homewood Suites by Hilton Tampa-Port Richey
545,Canico,PT,78.01,32.6333,-16.8500,Golden Residence Hotel

In [53]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [56]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))